.navigation{
    background: rgb(223, 238, 244);
    padding: 1rem;
}

nav > ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.active{
    font-weight: bold;
    color: brown;
}