h1 {
    text-align: center;
}

.home{
    text-align: center;
}
.blogs, .profile, .posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog{
    text-align: center;
}

.profile main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile aside{
    background: rgb(226, 241, 246);
    min-width: 20%;
    justify-self: flex-start;
}

.profile aside ul{
    list-style: none;
    padding: 0;
}